[Unit]
Description=Minidlna Daemon
Documentation=man:minidlnad
After=network-online.target

[Service]
Type=forking
User=marwinfaiter
Group=marwinfaiter
ExecStart=/usr/sbin/minidlnad -R
Restart=on-failure
# Time to wait before forcefully stopped.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
